:root {
    --primaryColor:#ffffff;
    --secondaryColor:#034620d3;
    --headerColor: #417e5f9d;;
    --borderColor: #45df1eed;;
    --mainText: rgb(0, 0, 0);
    --secondaryText: #fff;
    --previewColor: rgba(30, 129, 88, 0.301);
    --buttonColor: rgba(56, 114, 55, 0.849);
    --buttonHover: rgba(148, 12, 12, 0.877);
    --shadowColor: rgba(255, 255, 255, 0.5);
    --contactColor:  rgba(49, 175, 37, 0.863);
    --contactColorHover: rgba(198, 218, 212, 0.897);
    --backColor:rgba(3, 78, 47, 0.568);
}