:root {
    --primaryColor:#ffffff;
    --secondaryColor:#a38dbe;
    --headerColor: #6c4f919b;
    --borderColor: #bd5ef5;
    --mainText: rgb(0, 0, 0);
    --secondaryText: #fff;
    --previewColor: rgba(116, 67, 148, 0.493);
    --buttonColor: rgba(73, 59, 82, 0.568);
    --buttonHover: rgba(148, 12, 12, 0.877);
    --shadowColor: rgba(255, 255, 255, 0.5);
    --contactColor:  rgba(230, 222, 235, 0.616);
    --contactColorHover: rgba(87, 41, 122, 0.616);
    --backColor:rgba(77, 45, 114, 0.534);
    
}